<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<select id="read" parameterType="int" resultType="com.toonalyst.domain.board.BoardDTO">
		SELECT * FROM tbl_toonalyst_board
		WHERE bno = #{bno}
	</select>
	

    <insert id="register" parameterType="com.toonalyst.domain.board.BoardDTO">          
       INSERT INTO  tbl_toonalyst_board(bno, btitle, bcontent, btext, bcategory, bwriter, borigin)
       VALUES(seq_toonalyst_board_bno.NEXTVAL, #{btitle}, #{bcontent}, #{btext}, #{bcategory}, #{bwriter}, seq_toonalyst_board_bno.CURRVAL)
       <selectKey keyProperty="bno" resultType="Integer" order="AFTER">
	 	SELECT seq_toonalyst_board_bno.CURRVAL FROM dual
	 </selectKey>       
   	</insert>	
	  <!-- 게시글 삭제 작업 -->
	 <delete id="delete" parameterType="com.toonalyst.domain.board.BoardDTO">
		 DELETE FROM  tbl_toonalyst_board 
		 WHERE bno = #{bno}	 	 
	 </delete> 
	 
	 <update id="update" parameterType="com.toonalyst.domain.board.BoardDTO">
		 update tbl_toonalyst_board 
		 SET btitle = #{btitle},
		 	bcontent = #{bcontent},
		 	btext = #{btext}			 		 
		 WHERE bno = #{bno}	 	 
	 </update> 
	
	<!-- 레코드 개수 계산 -->
	<select id="countArticle" parameterType="HashMap" resultType="int">
		SELECT COUNT(*)
		FROM tbl_toonalyst_board b, tbl_toonalyst_member m
		<choose>
			<when test="search_option != 'all'">
                <if test="search_option == 'title'">
                	WHERE b.bwriter = m.id
                	AND btitle LIKE #{keyword}
                	AND bcategory = #{bcategory}
                </if>
                <if test="search_option == 'content'">
                	WHERE b.bwriter = m.id
                	AND btext LIKE #{keyword}
                	AND bcategory = #{bcategory}
                </if>
                <if test="search_option == 'writer'">
                	WHERE b.bwriter = m.id
                	AND bwriter LIKE #{keyword}
                	AND bcategory = #{bcategory}
                </if>
                <if test="search_option == 'mytitle'">
               		WHERE b.bwriter = m.id
                	AND btitle LIKE #{keyword}
                	AND bcategory = #{bcategory}
                	AND bwriter = #{id}
                </if>
                <if test="search_option == 'mycontent'">
                	WHERE b.bwriter = m.id
                	AND btext LIKE #{keyword}
                	AND bcategory = #{bcategory}
                	AND bwriter = #{id}
                </if>
                <if test="search_option == 'myall'">
                	WHERE b.bwriter = m.id
					AND (btitle LIKE #{keyword}
						 OR btext LIKE #{keyword} )
					AND bcategory = #{bcategory}
					AND bwriter = #{id}
                </if>
			</when>
			<otherwise>
				WHERE b.bwriter = m.id
				AND (bwriter LIKE #{keyword}
					 OR btitle LIKE #{keyword}
					 OR btext LIKE #{keyword} )
				AND bcategory = #{bcategory}
			</otherwise>
		</choose>	
	</select>
	
	<!-- 게시글 목록 출력 -->
	<select id="listAll" parameterType="HashMap" resultType="com.toonalyst.domain.board.BoardDTO">
		SELECT *
		FROM ( SELECT rownum AS rnum, a.*
			   FROM ( SELECT b.*, m.id, m.grade
					  FROM tbl_toonalyst_board b, tbl_toonalyst_member m
				  	  <choose>
						  <when test="search_option != 'all'">
			                  <if test="search_option == 'title'">
			                	  WHERE b.bwriter = m.id
			                	  AND btitle LIKE #{keyword}
			                	  AND bcategory = #{bcategory}
			                  </if>
			                  <if test="search_option == 'content'">
			                	  WHERE b.bwriter = m.id
			                	  AND btext LIKE #{keyword}
			                	  AND bcategory = #{bcategory}
			                  </if>
			                  <if test="search_option == 'writer'">
			                	  WHERE b.bwriter = m.id
			                	  AND bwriter LIKE #{keyword}
			                	  AND bcategory = #{bcategory}
			                  </if>
			                  <if test="search_option == 'mytitle'">
			               		WHERE b.bwriter = m.id
			                	AND btitle LIKE #{keyword}
			                	AND bcategory = #{bcategory}
			                	AND bwriter = #{id}
			               	  </if>
			                  <if test="search_option == 'mycontent'">
			                	WHERE b.bwriter = m.id
			                	AND btext LIKE #{keyword}
			                	AND bcategory = #{bcategory}
			                	AND bwriter = #{id}
			                 </if>
			                 <if test="search_option == 'myall'">
			                	WHERE b.bwriter = m.id
								AND (btitle LIKE #{keyword}
									 OR btext LIKE #{keyword} )
								AND bcategory = #{bcategory}
								AND bwriter = #{id}
			                </if>
						  </when>
						  <otherwise>
							  WHERE b.bwriter = m.id
							  AND (bwriter LIKE #{keyword}
								   OR btitle LIKE #{keyword}
								   OR btext LIKE #{keyword} )
							  AND bcategory = #{bcategory}
						  </otherwise>
					  </choose>
						<if test="sort_option == 'new'">
							ORDER BY borigin DESC, bturn
						</if>
						<if test="sort_option == 'good'">
							ORDER BY bgoodcnt DESC, borigin DESC, bturn
						</if>
						<if test="sort_option == 'comment'">
							ORDER BY bcommentcnt DESC, borigin DESC, bturn
						</if>
						<if test="sort_option == 'view'">
							ORDER BY bviewcnt DESC, borigin DESC, bturn
						</if>
		            ) a
		      ) WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="increaseViewCnt" parameterType="int">
		UPDATE tbl_toonalyst_board
		SET bviewcnt = bviewcnt + 1
		WHERE bno = #{bno}
	</update>
	
	<!-- 좋아요 확인 -->
	<select id="goodCheck" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) FROM tbl_toonalyst_good
		WHERE id = #{id} AND bno = #{bno} 
	</select>
	<!-- 좋아요 증가 -->
	<insert id="goodPlus" parameterType="HashMap">
		INSERT INTO tbl_toonalyst_good(id, bno)
		VALUES (#{id}, #{bno})
	</insert>
	<!-- 좋아요 감소 -->
	<delete id="goodMinus" parameterType="HashMap">
		DELETE FROM tbl_toonalyst_good
		WHERE id = #{id} AND bno = #{bno}
	</delete>
	<!-- 1개 게시글 좋아요 개수 확인 -->
	<select id="goodCntView" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM tbl_toonalyst_good
		WHERE bno = #{bno} 
	</select>
	<!-- 게시판 테이블에 goodcnt 추가 -->
	<update id="goodCntUpdate" parameterType="HashMap">
		UPDATE tbl_toonalyst_board
		SET bgoodcnt = #{bgoodcnt}
		WHERE bno = #{bno}
	</update>
	
	<!-- 댓글 등록을 한 이후 Board 테이블에 commentCnt Update -->
	<update id="commentCntUpdate" parameterType="int">
		UPDATE tbl_toonalyst_board
		<if test="code == 1">
			SET bcommentcnt = bcommentcnt + 1
		</if>
		<if test="code == 0">
			SET bcommentcnt = bcommentcnt - 1
		</if>
		WHERE bno = #{bno}
	</update>
	
	<select id="selectBoardCnt" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM tbl_toonalyst_board
		WHERE bwriter = #{id}
	</select>
	
	<update id="updateBturn" parameterType="HashMap">
		<![CDATA[
			UPDATE tbl_toonalyst_board
			SET bturn = bturn + 1
			WHERE borigin = #{borigin} AND bturn > #{bturn}
		]]>
	</update>
	<insert id="answer" parameterType="com.toonalyst.domain.board.BoardDTO">
		INSERT INTO  tbl_toonalyst_board(bno, btitle, bcontent, btext, bcategory, bwriter, borigin, bturn, bdepth)
        VALUES(seq_toonalyst_board_bno.NEXTVAL, #{btitle}, #{bcontent}, #{btext}, #{bcategory}, #{bwriter}, #{borigin}, #{bturn}, #{bdepth})
	</insert>
	
	<select id="myBoardList" parameterType="String" resultType="hashmap">
		select a.*, b.boardname 
		    from 
		        (select bcategory, count(*) as count from tbl_toonalyst_board
		        where bwriter = #{id}
		        GROUP by bcategory
		        order by bcategory) a, tbl_board_code b
		    where a.bcategory = b.bcategory
	</select>
</mapper>














