<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<select id="read" parameterType="int" resultType="com.toonalyst.domain.board.BoardDTO">
		SELECT * FROM tbl_toonalyst_board
		WHERE bno = #{bno}
	</select>
	

    <insert id="register" parameterType="com.toonalyst.domain.board.BoardDTO">          
       INSERT INTO  tbl_toonalyst_board(bno, btitle, bcontent, btext, bcategory, bwriter)
       VALUES(seq_toonalyst_board_bno.NEXTVAL, #{btitle}, #{bcontent}, #{btext}, #{bcategory}, #{bwriter})
       <selectKey keyProperty="bno" resultType="Integer" order="AFTER">
	 	SELECT seq_toonalyst_board_bno.CURRVAL FROM dual
	 </selectKey>       
   	</insert>	
	  <!-- 게시글 삭제 작업 -->
	 <delete id="delete" parameterType="com.toonalyst.domain.board.BoardDTO">
		 DELETE FROM  tbl_toonalyst_board 
		 WHERE bno = #{bno}	 	 
	 </delete> 
	 
	 <update id="update" parameterType="com.toonalyst.domain.board.BoardDTO">
		 update tbl_toonalyst_board 
		 SET btitle = #{btitle},
		 	bcontent = #{bcontent},
		 	btext = #{btext}			 		 
		 WHERE bno = #{bno}	 	 
	 </update> 
	
	<!-- 레코드 개수 계산 -->
	<select id="countArticle" parameterType="HashMap" resultType="int">
		SELECT COUNT(*)
		FROM tbl_toonalyst_board b, tbl_toonalyst_member m
		<choose>
			<when test="search_option != 'all'">
                <if test="search_option == 'title'">
                	WHERE b.bwriter = m.id
                	AND btitle LIKE #{keyword}
                	AND bcategory = #{flag}
                </if>
                <if test="search_option == 'content'">
                	WHERE b.bwriter = m.id
                	AND btext LIKE #{keyword}
                	AND bcategory = #{flag}
                </if>
                <if test="search_option == 'writer'">
                	WHERE b.bwriter = m.id
                	AND bwriter LIKE #{keyword}
                	AND bcategory = #{flag}
                </if>
			</when>
			<otherwise>
				WHERE b.bwriter = m.id
				AND (bwriter LIKE #{keyword}
					 OR btitle LIKE #{keyword}
					 OR btext LIKE #{keyword} )
				AND bcategory = #{flag}
			</otherwise>
		</choose>	
	</select>
	
	<!-- 게시글 목록 출력 -->
	<select id="listAll" parameterType="HashMap" resultType="com.toonalyst.domain.board.BoardDTO">
		SELECT *
		FROM ( SELECT rownum AS rnum, a.*
			   FROM ( SELECT b.*, m.id
					  FROM tbl_toonalyst_board b, tbl_toonalyst_member m
				  	  <choose>
						  <when test="search_option != 'all'">
			                  <if test="search_option == 'title'">
			                	  WHERE b.bwriter = m.id
			                	  AND btitle LIKE #{keyword}
			                	  AND bcategory = #{flag}
			                  </if>
			                  <if test="search_option == 'content'">
			                	  WHERE b.bwriter = m.id
			                	  AND btext LIKE #{keyword}
			                	  AND bcategory = #{flag}
			                  </if>
			                  <if test="search_option == 'writer'">
			                	  WHERE b.bwriter = m.id
			                	  AND bwriter LIKE #{keyword}
			                	  AND bcategory = #{flag}
			                  </if>
						  </when>
						  <otherwise>
							  WHERE b.bwriter = m.id
							  AND (bwriter LIKE #{keyword}
								   OR btitle LIKE #{keyword}
								   OR btext LIKE #{keyword} )
							  AND bcategory = #{flag}
						  </otherwise>
					  </choose>
						<if test="sort_option == 'new'">
							ORDER BY bno DESC
						</if>
						<if test="sort_option == 'good'">
							ORDER BY bgoodcnt DESC, bno DESC
						</if>
						<if test="sort_option == 'comment'">
							ORDER BY bcommentcnt DESC, bno DESC
						</if>
						<if test="sort_option == 'view'">
							ORDER BY bviewcnt DESC, bno DESC
						</if>
		            ) a
		      ) WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="increaseViewCnt" parameterType="int">
		UPDATE tbl_toonalyst_board
		SET bviewcnt = bviewcnt + 1
		WHERE bno = #{bno}
	</update>
	
</mapper>














