<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="score">

<select id="list" parameterType="long" resultType="com.toonalyst.domain.score.ScoreDTO">
	SELECT s.*, m.boardcnt, m.commentcnt, m.grade
	FROM tbl_toonalyst_score s, tbl_toonalyst_member m
	WHERE s.sid = m.id AND titleid = #{titleId}
	ORDER BY SDATE
</select>

<insert id="create" parameterType="com.toonalyst.domain.score.ScoreDTO">
	INSERT INTO tbl_toonalyst_score(sno, sid, scontent, sgood, titleid, sdate)
	VALUES (seq_toonalyst_score.NEXTVAL, #{sid}, #{scontent}, #{sgood}, #{titleId}, #{sdate})
</insert>

<select id="read" parameterType="com.toonalyst.domain.score.ScoreDTO" resultType="com.toonalyst.domain.score.ScoreDTO">
	SELECT * FROM TBL_TOONALYST_SCORE 
	WHERE SID=#{sid} AND TITLEID = #{titleId} 
		AND SDATE = (SELECT MAX(sdate) 
						FROM TBL_TOONALYST_SCORE 
							WHERE SID=#{sid} AND TITLEID = #{titleId})
</select>
<select id="scoreOne" parameterType="long" resultType="hashmap">
	select  webtoon.titleid, good.* , hate.*, good.good+hate.hate as total from 
		(select count(*) as good from tbl_toonalyst_score where sgood='good' and TITLEID = #{titleId}) good,
		(select count(*) as hate from tbl_toonalyst_score where sgood='hate' and TITLEID = #{titleId}) hate,
	    tbl_webtoon webtoon
	where webtoon.titleid = #{titleId}
</select>

</mapper>